\chapter{Core lexicon}
\parindent=0pt
\hangindent=1em
\begin{fullwidth}
\section{Onomatopeia}
%% Ono %%

\section{Uralic roots}
%% U FU Smy FP Ug FV %%

\subsection{Kinship terms}
Where multiple terms are listed, the terms can be either interchanged, or
assigned to specific such family members.

\begin{multicols}{2}
\emph{\large Older relations:}

\noindent\wdef{em\"a}{your birth parent}
\wdef{\"a\'c\"a}{your blood, but not birth, parent}
\wdef{imi, i\'c\"a, im\"a, i\'ci}{s'one who raised you}
\etwdef{ewkki}{s'one with a direct line to you, whether through raising or
  blood}{FU}
\wdef{koska, nati, nate}{s'one who was raised with you}
\wdef{s\"a\'ce, \'ce\v{c}\"a}{none of the above, but still close family}
\wdef{ek\"a}{none of the above, but still family}\columnbreak

\emph{\large Younger relations:}

\noindent\etwdef{poika}{your blood child}{FU}
\wdef{\"agi, \"aki, ugi, uki, jugi, juki}{s'one you raised}
\wdef{mi\'n\"a}{s'one with a direct line from you, whether through raising or
  blood}
\etwdef{e\'ce, e\'ci, e\'c\"a}{s'one who was raised with you}{FU}
\wdef{w\"aŋe, kidi}{none of the above, but still close family}
\etwdef{l\"aw\"a}{none of the above, but still family}{FU}
\end{multicols}

\section{Yukaghir, Yeniseian, and Eskimo-Aleut roots}
%% Yuk Ket Yugh E I Yup %%

\section{Latin and Greek roots}
%% GrLat %%

\section{Arabic roots}
%% Ara %%

\section{Persian and Sanskrit roots}
%% Pal San %%

\section{Classical Chinese roots}
%% LZh %%

\section{Modern roots}
%% Mod %%

\section{Numerals}
\begin{multicols}{3}
\raggedcolumns
\subsection{Senary}
\wdef{elem\"a}{0}
\wdef{\"ukte}{1}
\wdef{k\"akt\"a}{2 (cardinal)}
\wdef{kekt\"a}{2 (quantifying)}
\wdef{kolme}{3}
\wdef{\'nelj\"a}{4}
\wdef{witte}{5}
\wdef{kutte}{6}
\wdef{kuutte}{36}
\wdef{niwe}{216}
\wdef{{\it x}-niiwe}{1296\textsuperscript{\it x}}
\wdef{p\"al\"a}{1/2}
\wdef{{\it x}-nti}{{\it x}th, 1/{\it x}}
\columnbreak
\subsection{Decimal}
\etwdef{\'seŋ\'cem\"a}{7}{FP}
\etwdef{\'nala}{8}{Ug}
\etwdef{\"ukteks\"a}{9}{FV}
\etwdef{k\"ume}{10}{FV}
\etwdef{\'sata}{100}{FU}
\wdef{saxasra}{1000}
\wdef{{\it x}-jiljoo}{1000\textsuperscript{\it x}}
\columnbreak
\subsection{Limping\ Hex{\nolinebreak}adecimal}
\wdef{\'nalaikte}{9}
\wdef{\'nalakta}{10}
\wdef{\'nalkolme}{11}
\wdef{\'nalja}{12}
\wdef{\'nalwitte}{13}
\wdef{\'nalutte}{14}
\wdef{\'nal\'cema}{15}
\wdef{ope}{16}
\wdef{kit\"a}{32}
\wdef{n\"ak\"ure}{48}
\wdef{tette}{64}
\wdef{{\it x}-loge}{1024\textsuperscript{\it x}}
\wdef{opel-}{{\it x} = 1}
\wdef{kit\"al-}{{\it x} = 2}
\wdef{n\"ak\"ul-}{{\it x} = 3}
\wdef{tettel-}{{\it x} = 4}
\end{multicols}
\end{fullwidth}
